$primaryColor: #990066;
$white: #fff;
$secondaryColor: #f69b33;

.card {
    background-color: $primaryColor;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 12em;
}

.card-header {
    font-weight: bold;
    margin-bottom: 12px;
    color: $secondaryColor;
}

.card-body {
    margin-top: 12px;
    color: $white;
}